* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6c757d;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 8em;
}

.login-form {
  background-color: white;
  box-sizing: border-box;
  padding: 5px;
  min-width: 400px;
  padding: 2em;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgb(241, 60, 60);
}

.login-form h3 {
  text-align: center;
  color: red;
  font-weight: bold;
  padding-bottom: 1em;
}

.form-group {
  padding-bottom: 1em;
}

.error {
  color: red;
}
